body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.user-input{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    background-color: rgb(231, 229, 229);
    padding:  2% 4%;
    border-radius: 1rem;
}
.grid{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.row{
    flex: 1;
    display: flex;
}
.cell{
    
    background-color: white;
    flex: 1; 
    
}
label{
    margin: 5px;
}
input{
    font-family: cursive;
}

.drawing-tools{
    display: flex;
    gap: 6px;
}
#draw,#erase,#clear{
    font-size: 1rem;
    font-family: cursive;
    border-radius: 20%;
    padding: 2% 8%;
}
#clear{
    background-color: white;
    color: black;
}
#clear:hover{
    background-color: black;
    color: white;
}

#colorPicker{
    background-color: white;
    border-radius: 20%;
    width: 80px;
    height: 30px;
}
