body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.user-input{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    background-color: rgb(231, 229, 229);
    padding:  2% 4%;
    border-radius: 1rem;
}
.grid{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.row{
    flex: 1;
    display: flex;
}
.cell{
    /* border: 0.000001px solid rgb(235, 232, 232); */
    background-color: white;
    flex: 1; 
}
label{
    margin: 5px;
}
input{
    font-family: cursive;
}
#draw,#erase{
    background-color: black;
    font-size: 0.8rem;
    font-family: cursive;
    border-radius: 20%;
    color: white;
    padding: 2% 4%;
}
#colorPicker{
    background-color: white;
    border-radius: 20%;
    
}
